
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


*{
  margin: auto;
  padding: 0;
  text-decoration: none !important;

  
}


.container-a {
  
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
  
  margin-top: 10%;
  width:348px;
  height:500px;
  border-radius: 20px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 6px;
  
 
}

.icon-image{
  
  height:25vh;
  margin-top: 15px;
}

.exclam-sign{
  color: rgb(43, 172, 107);
  font-size: 3rem;
  margin-left: 14px;
  font-weight: 1000 !important;
}

.exclam-sign-red{
  color: rgb(214, 36, 13);
  font-size: 3rem;
  margin-left: 14px;
  font-weight: 1000 !important;
}

.card-text-a {
  font-size: 1.6rem;
}

.card-text-b{
  font-weight: 1%;
  font-size: 2rem;
  color: rgb(43, 172, 107);
  margin-top: 35px;
  margin-bottom: 20px;
}

.card-text-b-red{
  font-weight: 1%;
  font-size: 2rem;
  color: rgb(214, 36, 13);
  margin-top: 35px;
  margin-bottom: 20px;
}

.links {
  background-color: rgb(43, 172, 107);
  padding: 12px;
  border-radius: 25px;
  color: white;
  font-size: 1.6rem;
  
}

.links-red{
  background-color: #E74141;
  padding: 12px;
  border-radius: 25px;
  color: white;
  font-size: 1.6rem;
  
}

.links:hover{

  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
  transition: .4s;
  padding: 15px;
  z-index:1;
  color:white;

}
.links-red:hover{

  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
  transition: .4s;
  padding: 15px;
  z-index:1;
  color:white;

}





